// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
.card {
  // functionality
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 20rem;

  &__side {
    // color: #fff;
    height: 20rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5%;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
    overflow: hidden;
    // font-size: 1rem;
    &--front {
      background-color: white;
    }
    &--back {
      transform: rotateY(180deg);
      font-size: 1rem;
      // vertical-align: middle;
      // top: 50%;
      // font-size: 1.5vw;
      // margin-left: 50px;
      // vertical-align: middle;
      // // position: relative;
      // // top: 50%;
      // // transform: translateY(20%);
      max-width: 100%;
      max-height: 100vh;
      display: grid;
      height: 100%;
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
  // FRONT SIDE CARD STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    &--1 {
      background-repeat: no-repeat;
      background-size: contain;
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/cloud-adoption.jpg);
    }
    &--2 {
      background-image: url(../img/cloud-adoption.jpg);
    }
    &--3 {
      background-image: url(../img/cloud-adoption.jpg);
    }
  }
  &__heading {
    padding-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    color: black;
    top: 12rem;
    right: 2rem;
  }
  &__heading-span {
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
  }
}
