// variables

// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
// Utility
.u-center-text {
  text-align: center;
}
.u-right-text {
  text-align: right;
}
.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

// mixin file
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

/* Universal Selector */
html {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* change to box model -> border and padding are no longer edit */
}
/* inheritance  for body*/
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/about-us.jpg); /* green changes color from light green to dark green*/
  background-size: cover; /* whatever view port the element is, it will try to fit inside the box*/
  background-position: top; /*whatever the viewport size, the image stays on top*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /**/
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.header__logo {
  height: 35px;
}

.header__text-box {
  position: absolute;
  top: 45%;
  left: 48%;
  transform: translate(-48%, -45%);
  text-align: center;
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden; /* determines if backpart of element is visibile or hidden; */
  margin-bottom: 60px;
}
.heading-primary--main {
  display: block;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 20px;

  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  /* animation-delay: 0.5s;
  animation-iteration-count: 2; */
}

.heading-primary--sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 21px;
  /* animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out; */
  animation: moveInRight 2s ease-out;
}

@keyframes moveInLeft {
  0% {
    /* begins with invisible */
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }

  100% {
    /* ends with visibility */
    opacity: 1;
    transform: translate(0); /* translate to normal */
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* button CSS */

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.1s; /*transition has to be in initial state*/
  position: relative;
}

.btn:hover {
  transform: translateY(-3px); /* moves up when hovers */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* use rgba to give opacity*/
}

/* on click  */
.btn:active {
  transform: translateY(-2px);
}

.btn-white {
  background-color: white;
  color: #777;
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: white;
}

.btn:hover::after {
  transform: scaleX(1.5) scaleY(2);
  opacity: 0;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

// About Us page css

.about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
  // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /**/
}

.about-heading--secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 2px;
  margin-top: 5px;
  margin-bottom: 50px;
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

// Float grid
.grid-container {
  display: flex;
  flex-direction: row;
  // background-color: red;
  justify-content: center;
  align-items: center;
}
// .grid-container-text {
//   background-color: red;
// }

// .grid-container > div {
//   flex: 2 1 auto;
//   // border: 1px red solid;
//   text-align: center;
//   margin: 100px; /* and that, will result in a 10px gap */
//   // margin-left: 100px;
//   // margin-right: 0px;
// }

// .grid-container-text {
//   font-size: 1.75vw;
//   color: #777;
// }

.row {
  max-width: 114rem;
  // background-color: #eee;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
  @include clearfix();

  [class^='col-'] {
    // background-color: red;
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
    // background-color: orangered;
    // float: right;
    // &:not(:last-child) {
    //   margin-right: $gutter-horizontal;
    // }
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }
  .col-2-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal};
    // color: red;
  }
}
.paragraph-about {
  font-size: 1.5vw;
  margin-left: 50px;
  vertical-align: middle;
  // position: relative;
  // top: 50%;
  // transform: translateY(20%);
  max-width: 100%;
  max-height: 100vh;
  // display: grid;
  // height: 100%;
}
.about-image {
  // height: 250px;
  // width: 200vh;
  display: block; /* removes bottom margin/whitespace */
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 100%; /* horizontally responsive */
  max-height: 55vh; /* vertically responsive */
  // margin-left: 20px;
  border-radius: 50%;
}

// Services component;

.services {
  padding: 5rem 5rem;
  margin-top: -10rem;

  height: 105vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/about-us.jpg); /* green changes color from light green to dark green*/
  background-size: cover; /* whatever view port the element is, it will try to fit inside the box*/
  background-position: top; /*whatever the viewport size, the image stays on top*/
  // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /**/
  transform: skewY(-7deg);
  // position: relative;
  margin-top: -10rem;
  & > * {
    transform: skewY(7deg);
  }
}
.services-header {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  // background-image: linear-gradient(
  //   to right,
  //   $color-primary-light,
  //   $color-primary-dark
  // );
  color: white;
  -webkit-background-clip: text;
  transition: all 0.2s;
  letter-spacing: 0.2rem;
  margin-top: 5px;
  margin-bottom: 50px;
  transition: all 0.2s;
}

.card {
  // functionality
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 20rem;
  &__side {
    // color: #fff;
    height: 20rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    overflow: hidden;
    // font-size: 1rem;
    &--front {
      background-color: $color-white;
    }
    &--back {
      transform: rotateY(180deg);
      // font-size: 1rem;
      // vertical-align: middle;
      // top: 50%;
      // font-size: 1.5vw;
      // margin-left: 50px;
      // vertical-align: middle;
      // // position: relative;
      // // top: 50%;
      // // transform: translateY(20%);
      // max-width: 100%;
      // max-height: 100vh;
      // display: grid;
      // height: 100%;
      color: white;
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
        font-size: 1.2vw;
        padding: 5%;
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
  // FRONT SIDE CARD STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    &--1 {
      background-repeat: no-repeat;
      background-size: contain;
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/cloud-adoption.jpg);
    }
    &--2 {
      background-image: url(../img/cloud-adoption.jpg);
    }
    &--3 {
      background-image: url(../img/cloud-adoption.jpg);
    }
  }
  &__heading {
    padding-top: 2.8rem;
    // text-align: center;
    // font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    color: $color-white;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }
  &__heading-span {
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
  }
}
